*, html {
  width: 100%;

}

body {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 5px 5px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(119, 9, 62);
}

div{
  background-color: rgb(119, 9, 62);


}

.card-img{
 
 width: 40px important!;
 height: 50px;
}

.navbar{
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  background-color: blue;
  display: flex;
   
}
.navbar-title,
.navbar-subTitle
{
  display: flex;
  justify-content: center;
  }
  /* .navbar-text,
  .navbar-score {
   
    text-align: center;    
  } */

  