*, html {
  width: 100%;
  background-color:black
}

body {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 10px 10px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}


.card-img{
 
  width: 100px;
  height: 80px;
}

.navbar{
  color: whitesmoke;
  background-color: black;
  display: flex;
   
}
.navbar-title{
  font-size: 17px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  
  }
  .navbar-text
  {
   display: block;
    text-align: center;    
  }
  .navbar-score {
    background-color: black;

  }
  .navbar-subTitle{
    font-size: 12px;
    display: block;
    background-color: black;
    text-align: center;    

  }
  p{
    background-color: black;
    margin: 0px;
    color: whitesmoke;
  }
.btn{
  width: 90px;
  color: aqua;

}